@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* #smooth-wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#smooth-content {
  width: 100%;
  position: relative;
} */

.mwg_effect087 {
  overflow: hidden;
  position: relative;
}

.mwg_effect087 .scroll {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mwg_effect087 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.mwg_effect087 .cards {
  display: flex;
  width: max-content;
  white-space: nowrap;
  gap: 20px;
  will-change: transform;
  padding: 0 calc(100vw + 1px);
}

.mwg_effect087 .card {
  position: relative;
  width: 370px;
  aspect-ratio: 0.75;
}

.mwg_effect087 .card-content {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  will-change: transform;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: initial;
  color: #0A0A0B;
  /* padding: 20px; */
}

/* .mwg_effect087 .card-content .top {
  font-size: 28px;
  letter-spacing: -0.01em;
  line-height: 1;
} */

/* .mwg_effect087 .card-content .bottom {
  display: flex;
  gap: 15px;
  align-items: center;
} */

.mwg_effect087 .card-content img {
  width: 60px;
  height: 60px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 100%; */
}

.mwg_effect087 .card-content .bottom p {
  font: 500 normal 11px / 1.4 'IBM Plex Mono', monospace;
  text-transform: uppercase;
}

.mwg_effect087 .card:nth-child(4n - 3) .card-content {
  background: #BCEFFF;
}

.mwg_effect087 .card:nth-child(4n - 2) .card-content {
  background: #F1F1F1;
}

.mwg_effect087 .card:nth-child(4n - 1) .card-content {
  background: #C9FE6E;
}

.mwg_effect087 .card:nth-child(4n) .card-content {
  background: #323232;
  color: #F1F1F1;
}

/* curve scroll */
.mwg_effect032 .scroll {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mwg_effect032 .pin-height {
  height: 400vh;
}

.mwg_effect032 .contenedor {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.mwg_effect032 .header {
  position: absolute;
  top: 25px;
  left: 35%;
  width: 30%;
  text-align: center;
}

.mwg_effect032 svg {
  width: 100%;
  height: auto;
  overflow: visible;
  transform: translate(0, 50%) scale(1.1, 1.1)
    /* Scaling to avoid seeing letter at the start and end */
}

.mwg_effect032 textPath {
  fill: currentColor;
  font: 500 normal 10vw/normal 'Inter', sans-serif;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .mwg_effect087 .card {
    width: 70vw;
  }

  .mwg_effect087 .card-content {
    padding: 20px;
  }

  .mwg_effect087 .card-content .top {
    font-size: 20px;
  }

  .mwg_effect032 .header {
    top: 15px;
    left: 15px;
    right: 15px;
    width: auto;
  }

  .mwg_effect032 textPath {
    font: 500 normal 50vw/normal 'Inter', sans-serif;
  }
}